*{ box-sizing: border-box;
}
.login {
    display: flex;
    flex-direction: row;


}
.lista{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    

    
    padding: 10px;
}
ul,ol,li {
    text-decoration: none;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: black;
}